.footer__link {
  margin-right: 16px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
  }

  .footer__link:last-of-type {
    margin-bottom: 0px;
  }
}
