.cover__title {
	font-size: 72px;
	font-weight: 900;
	line-height: 76px;
	margin-bottom: 32px;
	margin-top: 0;
	width: 550px;
}

@media (max-width: 767px){

	.cover__title {
		font-size: 32px;
		line-height: 35px;
		margin-bottom: 16px;
		width: 230px;
	}

}