.place {
  display: grid;
  gap: 40px;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  margin-bottom: 80px;
}

@media (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    gap: 28px;
    grid-template-columns: 340px 352px;
    margin-bottom: 73px;
  }
}

@media (max-width: 767px) {
  .place {
    gap: 32px;
    grid-template-columns: 100%;
    grid-template-rows: repeat (4, auto);
    margin-right: 0;
    margin-bottom: 50px;
  }

  .place:last-child {
    margin-bottom: 0;
  }
}
